* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(247, 246, 245);
}

.box1 {
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(209, 203, 194);
    width: 35vw;
    height: 90vh;
    margin: 10px auto;

}

.box2 {
    position: absolute;
    /* border: 2px solid black; */
    background-color: rgb(52, 43, 43);
    border-radius: 10px;
    box-sizing: border-boxs;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    box-shadow: rgb(241, 236, 236) -2px 3px 15px 13px, rgb(241, 236, 236) 2px -3px 15px -8px;
}

.box1 p {
    text-align: center;
}

.inputfield {
    text-align: center;
}

input {
    background-color: blanchedalmond;
    width: 93%;
    padding: 70px 5px 10px 5px;
    border-radius: 10px;
    margin-top: 10px;

}

.buttons {
    margin: 50px 5px 5px 5px;
}

.buttonrow {
    margin: 2px 2px;
    display: flex;
    flex-direction: row;
}

.button {
    border: 0.5px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    text-align: center;
    margin: 5px auto;
    width: 40px;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .box1 {
        width: 45vw;
    }
}

@media screen and (max-width:580px) {
    .box1 {
        width: 60vw;
    }
}

@media screen and (max-width:400px) {
    .box1 {
        width: 90vw;
    }
}
